<!-- Content Header (Page header) -->

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Clientes Club</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Club</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">






      <div class="card-body">



        <mat-tab-group >
          <mat-tab label="Registrar Clientes">

            <app-clientclub></app-clientclub>
          </mat-tab>
          <mat-tab label="Lista de Clientes"> 
            <app-clubdatatable></app-clubdatatable>            
          
          </mat-tab>

        </mat-tab-group>

      </div>


      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
