<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead class="theadstyle">
    <tr>
      
      <th nzCustomFilter scope="col"> 
        PL
       
      </th>
     
     
      <th nzCustomFilter scope="col">
        Cedula
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      
      
      <th nzCustomFilter scope="col">
        Club
        
      </th>
     
      <th scope="col">Nombre</th>
     
      <th scope="col">Apellido</th>
     
      <th scope="col" >Direccion</th>
     
      <th nzCustomFilter scope="col">
        Code
       
      </th>
     
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      
                <td (click)="showModal()">{{ data.pl }}</td>
      
      
      <td (click)="showModal()">{{ data.cedula }}</td>
    
      
      <td (click)="showModal()">{{ data.club }}</td>
      
     
      <td (click)="showModal()">{{ data.nombre }}</td>
      
      
      <td (click)="showModal()">{{ data.apellido }}</td>
      
      
      <td (click)="showModal()">{{ data.direccion }}</td>
      
    
      <td (click)="showModal()">{{ data.code }}</td>
      
      
      <td (click)="showModal()">{{ data.estatus }}</td>
  

    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>


<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Clientes"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <p *nzModalContent>Modal Content</p>
</nz-modal>