.fa-bars {
  cursor: pointer;
}

.nav-item {
  .nav-link {
    cursor: pointer;
    color: white;;
    ;
  }
}
#panel{
  background: rgb(25,33,158);
background: linear-gradient(90deg, rgba(25,33,158,0.8547618876652223) 42%, rgba(0,133,255,1) 100%);
}