<form>

          <div class="row">

            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Club</mat-label>
                <textarea matInput placeholder="2400001111111"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Cedula / Pasaporte</mat-label>
                <textarea matInput placeholder="Cedula sin guiones"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Code</mat-label>
                <textarea matInput placeholder="V0055622"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <textarea matInput placeholder="Juan"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <textarea matInput placeholder="Perez Gomez"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Telefono</mat-label>
                <textarea matInput placeholder="809-000-0000"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <textarea matInput placeholder="829-000-0000"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Direccion</mat-label>
                <textarea matInput placeholder="Ave 27 de Febrero"></textarea>
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <textarea matInput placeholder="Santo Domingo"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <textarea matInput placeholder="jperez@hotmail.com"></textarea>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Activo</mat-option>
                  <mat-option value="2">Inactivo</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Tienda</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">PL01 - Plaza Lama Duarte</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>



          </div>

          <div class="row">
            <div class="col-md-3 ml-md-auto">
              <button pButton type="button" label="Guardar" class="p-button-success p-button-rounded"></button>

            </div>
            <div class="col-6">
              <button pButton type="reset" label="Limpiar" class="p-button-warning p-button-rounded"></button>
              
              
            </div>
              </div>
         


            </form>

